{% extends 'base.html' %}


{% block content %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1 class="text-align-center">About Us</h1>
    <p>In est ante in nibh mauris, cursus mattis molestie a, iaculis at erat pellentesque adipiscing commodo elit, at imperdiet dui accumsan sit amet nulla? Dolor morbi non arcu risus, quis?</p>
    <p>In est ante in nibh mauris, cursus mattis molestie a, iaculis at erat pellentesque adipiscing commodo elit, at imperdiet dui accumsan sit amet nulla? Dolor morbi non arcu risus, quis?</p>
    <p>In est ante in nibh mauris, cursus mattis molestie a, iaculis at erat pellentesque adipiscing commodo elit, at imperdiet dui accumsan sit amet nulla? Dolor morbi non arcu risus, quis?</p>
    <p>In est ante in nibh mauris, cursus mattis molestie a, iaculis at erat pellentesque adipiscing commodo elit, at imperdiet dui accumsan sit amet nulla? Dolor morbi non arcu risus, quis?</p>
  </div>

</div>

{% endblock %}
